@import url('css/main.css');
@import url('css/normalize.css');
@import url('css/owl.carousel.css');
@import url('css/style.css');


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.top-buffer {
  margin-top: 2em;
}
.registration-title {
  padding-left: 2em;
}
