@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
/*Add fonts*/
@import url(https://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

$openSans: 'Open Sans', sans-serif;
$pt: 'PT Serif', serif;

$susy: (
    columns: 12,
    gutters: 1/21,
    container: 100%,
    math: fluid,
    output: float,
    gutter-position: inside,
    container-position: center,
    debug: (
        image: show,
        color: #faf8ff,
        output: background,
        toggle: top right,
    )
);

/*
    Variables
*/

// Colors
$grey: #ebebeb;
$grey-dark: #969590;
$blue: #06a8f9;
$yellow: #fce300;
$green: #02869b;

// Size columns
$large: 1366px 1450px;
$large-note-big: 1450px;
$large-note: 1280px 1450px;
$medium: 0px 1280px;

body {
    @include container();
    min-width: 442px;
    font-family: $pt;
}

.banner {
    img {
        width: 100%;
    }
}

.content {

    @include span(10);
    @include push(1);
    @include breakpoint($medium) {
        @include full();
        @include push(0);
    }

    header {
        @include full;
    }

    margin-top: gutter(1);

    #logo {
        img {
            width: 100%;
        }
    }

    .right {
        float: right;
    }
    .cell-2 {
        @include span(2);
    }

    .cell-6 {
        @include span(6);
        @include breakpoint($medium) {
            &.cell-medium-12 {
                @include span(12);
            }
        }
    }
    .cell-8 {
        @include span(8);
    }
    .cell-12 {
        @include span(12);
    }
    .cell-4 {
        @include span(4);
        &.last {
            @include span(4 last);
        }
    }

    .cell-12 {
        @include span(12);
        @include breakpoint($medium) {
            &.cell-medium-12 {
                @include span(12);
            }
        }
    }

    .cell-10 {

        @include span(10);

        &.on-menu {
            border-bottom: 1px solid $grey;
            padding: 0 0 10px 0;

            .left-on-menu {
                @include span(4);
                .block-top-right {
                    float: left;
                }

                @include breakpoint($medium) {
                    @include span(12 last);
                    margin-bottom: 10px;
                    .block-top-right {
                        float: none;
                    }
                }

                span {
                    border-right: 1px solid $grey;
                    padding: 0 5px;
                    height: 19px;
                    display: inline-block;
                    text-align: center;
                    font-size: 0.9em;

                    &.date {
                        padding-right: 10px;
                        padding-left: 0;
                        left: 0;
                        bottom: 0;
                    }

                    &.tel {
                        img {
                            padding-right: 3px;
                        }

                    }
                    &.language {
                        color: #969590;
                        i {
                            cursor: pointer;
                            padding: 0 3px;
                            &.active {
                                border-bottom: 1px solid $blue;
                                color: $blue;
                            }
                        }
                    }
                }
            }
            .right-on-menu {
                @include span(7 last);
                .block-top-right {
                    float: right;
                }
                @include breakpoint($medium) {
                    @include span(12 last);
                    .block-top-right {
                        float: none;
                    }
                }
                font-size: 0.9em;

                .search {
                    background: url("../img/icons/search.png") no-repeat right transparent;
                    border: none;
                    padding-right: 10px;
                    margin-right: 20px;
                    width: 80px;
                    @include breakpoint($medium) {
                        border-bottom: 2px solid #000;
                        padding: 10px;
                        margin: 0;
                        width: 94%;
                    }
                    &::placeholder {
                        color: #000;
                        font-weight: bold;
                    }
                    &:focus {
                        border: none;
                        outline: -webkit-focus-ring-color auto 0;
                        @include breakpoint($medium) {
                            border-bottom: 1px solid #000;
                        }
                    }
                }
                .social {
                    display: inline-block;
                    border-right: 1px solid $grey;
                    border-left: 1px solid $grey;
                    padding: 0 0 0 18px;
                    @include breakpoint($medium) {
                        margin: 10px 0;
                        padding: 0;
                        border-right: 0 solid #ebebeb;
                        border-left: 0 solid #ebebeb;
                        text-align: center;
                    }
                    a {
                        display: inline-block;
                        padding: 0 10px;
                        overflow: hidden;
                        height: 11px;
                        width: 13px;

                        &.twitter {
                            background: url("../img/icons/social.png") no-repeat center center;
                            background-position: -12px;
                        }
                        &.facebook {
                            background: url("../img/icons/social.png") no-repeat center center;
                            background-position: -47px;
                        }
                        &.google-plus {
                            background: url("../img/icons/social.png") no-repeat center center;
                            background-position: -83px;
                        }
                        &.youtube {
                            background: url("../img/icons/social.png") no-repeat center center;
                            background-position: -118px;
                        }
                        &.rss {
                            background: url("../img/icons/social.png") no-repeat center center;
                            background-position: -153px;
                        }
                    }
                }
                .login {
                    float: right;
                    @include breakpoint($medium) {
                        float: right;
                        display: inline-block;
                        position: relative;
                        right: 15px;
                        top: 10px;
                        /* width: 100%; */
                    }
                    span {
                        padding: 0 0 0 10px;
                    }
                    i {
                        color: $blue;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .menu {
        font-family: $openSans;
        @include breakpoint($medium) {
            @include span(12);
        }
        ul {
            &.big-menu {
                padding-left: 0;
                border-bottom: 2px solid black;
                z-index: 1;

                @include breakpoint($medium) {
                    border-bottom: 0 solid black;
                    margin: 0;
                }

                @include breakpoint($large-note) {
                    padding-left: 3%;
                }
                @include breakpoint($large-note-big) {
                    padding-left: 10%;
                }
                li {
                    display: inline-block;
                    @include breakpoint($medium) {
                        display: none;
                    }
                    a {
                        display: inline-block;
                        margin-bottom: -2px;
                        color: #000;
                        font-weight: bold;
                        padding: 20px 10px;
                        text-decoration: none;
                        font-size: 0.9em;
                        z-index: 2;

                        @include breakpoint($large-note) {
                            padding: 20px 5px;
                        }

                        @include breakpoint($large-note-big) {
                            padding: 20px 10px;
                        }
                        &.active, &:hover {
                            color: $blue;
                            border-bottom: 2px solid $blue;
                        }
                    }
                    &.burger {
                        display: none;
                        @include breakpoint($medium) {
                            display: block;
                            border-bottom: 2px solid #000;
                            text-align: right;
                            width: 100%;
                            a {
                                &.active, &:hover {
                                    display: block;
                                    border-bottom: 0 solid $blue;
                                }
                            }
                        }
                    }
                    &.last {
                        float: right;
                        a {
                            color: $blue;
                            @include breakpoint($medium) {
                                span {
                                    display: none;
                                }
                            }
                            &.active, &:hover {
                                border-bottom: 0px solid $blue;
                            }
                        }
                    }
                }
            }
            &.small-menu {
                background: #fff;
                display: none;
                @include breakpoint($medium) {
                    padding: 0 10px;
                    list-style: none;

                    li {
                        text-align: right;
                        a {
                            color: #000;
                            display: block;
                            font-weight: bold;
                            text-decoration: none;
                            padding: 5px 0px 5px 0;
                            font-size: 0.9em;
                            z-index: 2;
                            &.active, &:hover {
                                color: $blue;
                                background: $grey;
                            }
                        }
                    }

                }
            }
        }
    }

    .large-block {
        background: #000;
        margin-top: 20px;
        position: relative;
        box-shadow: inset 0px -53px 52px -10px rgba(0, 0, 0, 0.75);
        overflow: hidden;
        height: 440px;
        @include breakpoint($medium) {
            height: auto;
        }
        .category {
            position: absolute;
            top: 10px;
            left: 30px;
            i {
                background: $yellow;
                font-weight: bold;
                padding: 1px 8px;
                font-size: 0.75em;
            }
        }
        img {
            height: auto;
            width: 100%;
        }
        .topic {
            position: absolute;
            bottom: 0;
            box-shadow: inset 21px -91px 70px -20px rgba(0, 0, 0, 0.95);
            left: 0;
            width: 100%;
            @include breakpoint($medium) {
                width: 100%;
            }
            h2 {
                font-size: 1.7em;
                font-family: $openSans;
                padding: 15px 30px;
                font-weight: bold;
                margin: 0;
                color: #fff;
                @include breakpoint($medium) {
                    font-size: 1em;
                }
            }
        }

    }
    .medium-block, .medium-block-2 {
        background: #000;
        margin-top: 20px;
        margin-left: gutter(1);
        overflow: hidden;
        height: 214px;
        position: relative;
        @include breakpoint($medium) {
            margin-left: 0;
            height: auto;
        }
        .category {
            position: absolute;
            top: 10px;
            left: 30px;
            i {
                background: $yellow;
                font-weight: bold;
                padding: 1px 8px;
                font-size: 0.75em;
            }
        }
        img {
            height: auto;
            width: 100%;

        }
        .topic {
            position: absolute;
            bottom: 0;
            box-shadow: inset 21px -91px 70px -43px rgba(0, 0, 0, 0.95);
            left: 0;
            width: 100%;
            @include breakpoint($medium) {
                padding: 1px;
                width: 100%;
            }
            h2 {
                font-size: 0.85em;
                font-family: $openSans;
                padding: 15px 30px;
                margin: 0;
                font-weight: bold;
                color: #fff;
                @include breakpoint($medium) {
                    padding: 10px;
                    font-size: 0.75em;
                }
            }
        }

    }
    .medium-block-2 {
        margin-top: gutter(0.6);
    }
    .date {
        background: url("../img/icons/clock.png") no-repeat left;
        padding: 15px;
        font-size: 0.75em;
        position: relative;
        left: 30px;
        bottom: 10px;
        color: $blue;
    }
    .shared {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }

    .theme {
        h2 {
            display: inline-block;
            position: relative;
            top: 10px;
            @include breakpoint($medium){
                text-align: center;
                width: 100%;
            }
        }
        ul {
            display: inline-block;
            border-bottom: 2px solid #000;
            text-align: right;
            width: 80%;
            @include breakpoint($large-note){
                padding: 0;
                width: 85%;
            }
            @include breakpoint($medium){
                text-align: center;
                padding: 0;
                width: 100%;
            }
            li {
                display: inline-block;
                padding: 5px 0;
                a {
                    color: #000;
                    font-weight: bold;
                    padding: 0px 5px;
                    text-decoration: none;
                    font-size: 0.9em;
                    z-index: 2;
                    &.active, &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }

    $news: 12 1/4 fluid float inside;

    #news {
        .cell-6 {
            @include layout($news);
        }
        #blocks-news{
            @include breakpoint($medium){
                @include span(12);
            }
        }
        .medium-block, .medium-block-2 {
            @include layout($news);
            @include span(6);

            background-color: transparent;
            margin-left: 0;
            height: auto;
            .topic {
                margin-left: 6px;
                margin-right: 0;
                left: 0;
                width: 97%;
            }
        }
    }
    #blog {
        margin-top: gutter(4);
        @include breakpoint($medium){
            @include span(12);
        }
        img {
            width: 100%;
        }
        .date{
            background: url("../img/icons/clock-grey.png") no-repeat left;
            left: 0;
            bottom: 0;
            color: $grey-dark;
        }
        .answer{
            background: url("../img/icons/answer.png") no-repeat left;
            color: $grey-dark;
            font-size: 0.75em;
            padding-left: 12px;
        }

        .social {
            a {
                display: inline-block;
                background: url("../img/icons/social.png") no-repeat center center;
                height: 10px;
                width: 20px;
                &.twitter {
                    background-position: -10px;
                }
                &.facebook {
                    background-position: -45px;
                }
            }
        }

    }
    .news-block {
        @include layout($news);
        @include span(6);

        margin-top: 20px;
        .line {
            border-top: 2px solid $grey;
        }

        .img-news {
            @include span(6);
            @include breakpoint($medium){
                @include span(12);
            }
            margin-top: 20px;
            height: 100%;
        }
        .shared {
            bottom: 3px;
        }
        .topic {
            @include span(6);
            @include breakpoint($medium){
                @include span(12);
            }
            position: relative;
            padding: 0 5px;
            h2 {
                margin: 15px 0 0 0;
                font-size: 0.9em;
                font-weight: 600;
                font-family: $openSans;
            }
            p {
                font-size: 0.75em;
                margin: 0 0 6px 0;
                font-family: $openSans;
            }
        }
        .date {
            background: url("../img/icons/clock-grey.png") no-repeat left;
            top: 0;
            left: 0;
        }
    }
    .calendar {
        background: url("../img/icons/calendar.png") no-repeat center center;
        background-position: 0;
        display: inline-block;
        position: relative;
        top: 3px;
        height: 19px;
        width: 17px;
        &.active {
            background-position: -18px;
        }
    }



}
.clearfix{
    clear: both;
}

.tabs {
    margin-top: gutter(4);
    display: inline-block;
    font-family: $openSans;
    font-weight: bold;
    width: 100%;
}
.comment{
    border-bottom: 2px solid $grey-dark;
    padding-bottom: 10px;
}
.tabs > div {
    padding-top: 10px;
}
.tabs ul {
    margin: 0;
    padding: 0;
}
.tabs ul:after {
    content: "";
    display: block;
    clear: both;
    height: 5px;
    background: $blue;
}
.tabs ul li {
    margin: 0;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 0.75em;
    padding: 10px 15px;
    text-transform: uppercase;
    background: #fff;
    color: #707070;
}
.tabs ul li.active, .tabs ul li.active:hover {
    background: $blue;
    color: #fff;
    a {
        background: url("../img/icons/social-white.png") no-repeat center center;
        &.twitter {
            background-position: -10px;
        }
        &.facebook {
            background-position: -45px;
        }
    }
}
.tabs ul li:hover {
    color: #fff;
    background: $blue;
    a {
        background: url("../img/icons/social-white.png") no-repeat center center;
        &.twitter {
            background-position: -10px;
        }
        &.facebook {
            background-position: -45px;
        }
    }
}

$green-block: 12 1/30 fluid float inside;

.content-center{
    @include layout($green-block);
    @include full;
    background: $green;
    margin-top: gutter(3);


    #green-block{
        @include span(10);
        @include push(1);
        @include breakpoint($medium){
            @include span(12);
            @include push(0);
        }

        font-family: $openSans;

        #review{
            @include span(8);
            @include breakpoint($medium){
                @include span(12);
            }
            padding-left: gutter(8);
            padding-right: gutter(8);
            position: relative;
            h2{
                &.opinion{
                    color: $green;
                    border-bottom: 1px solid #fff;
                    position: absolute;
                    font-size: 1.3em;
                    top: 3%;
                    left: 1%;
                    width: span(11);
                    z-index: 1;
                }
            }
            .yellow-block{
                @include span(2.5);
                padding-left: gutter(2);
                padding-right: gutter(2);
                padding-top: 80px;
                margin-right: gutter(2);
                background: url("../img/yellow-block.jpg") no-repeat center center;
                background-size: 100% 100%;
                height: 20.5em;;
                text-align: center;
                @include breakpoint($medium){
                    height: 18.2em;
                }
                p{
                    color: $green;
                    text-align: left;
                    font-weight: bold;
                }
                .shared-black{
                    position: absolute;
                    bottom: 8%;
                    left: 1%;
                }
            }
            .persons{
                @include span(3.05);
                padding-left: gutter(2);
                padding-right: gutter(2);
                position: relative;
                z-index: 2;
                .person{
                    background: #fff;
                    border: 1px solid $grey;
                    top: 30px;
                    position: relative;
                    text-align: center;
                    min-height: 288px;
                    img{
                        width: 100%;
                    }
                    .description{
                        padding: 5px    ;
                        h2{
                            font-size: 0.9em;
                        }
                        span{
                            color: $grey-dark;
                            font-weight: bold;
                            font-size: 0.6em;
                        }
                        p{
                            color: $grey-dark;
                            font-weight: bold;
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
        #slider-center{
            @include span(4);
            @include breakpoint($medium){
                @include span(12);
                margin-top: 50px;
            }

            img{
                margin: 0 auto;
                width: auto;
            }

            .owl-controls{
                background: $green;
                top: 5px;
                position: relative;
                @include breakpoint($medium){
                    background: #fff;
                }
            }
            .owl-prev, .owl-next{
                display: inline-block;
                color: #fff;
                font-size: 1.5em;
                font-weight: bold;
                position: relative;
                top: 0;
                padding: 0 10px;
                @include breakpoint($medium){
                    border: 1px solid #000;
                    background: rgba(132, 132, 132, 0.34);
                    color: #000;
                }
            }
            .owl-next{
                float: right;
            }

            .slider-green{
                position: relative;
                background: #fff;
                top: 28px;

                h4{
                    text-align: center;
                    position: relative;
                    width: 100%;
                    bottom: -22px;
                }
            }

            .tabs{
                margin: 0;
            }

            .tabs ul li:hover {
                color: #000;
                background: $yellow;
            }
            .tabs ul li.active, .tabs ul li.active:hover {
                color: #000;
                background: $yellow;
            }
            .tabs ul:after {
                color: #000;
                background: $yellow;
            }
            .tabs > div {
                background: #fff;
                padding-top: 10px;
            }
        }
    }
}

$videos:  12 1/10 fluid float inside;

#videos{
    @include layout($videos);
    @include span(10);
    @include push(1);
    @include breakpoint($medium){
        @include span(12);
        @include push(0);
    }
    margin-top: 30px;
    position: relative;
    .columns-video{
        border-top: 2px solid #000;
        padding-top: 30px;
        margin-top: 0px;
    }
    h2{
        i{
            background: #fff;
            padding-right: 10px;
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }
    .video{
        text-align: center;
        iframe{
            height: 180px;
            width: 100%;
        }
        .date{
            background: url("../img/icons/clock-grey.png") no-repeat left;
            padding: 0 15px;
            font-size: 0.75em;
            color: #969590;
        }
        .answer{
            background: url("../img/icons/answer.png") no-repeat left;
            color: #969590;
            font-size: 0.75em;
            padding: 0 15px;
        }
    }
    .owl-controls{
        margin: 0 auto;
        width: 27em;
    }
    .owl-dots{
        margin: 0 auto;
        height: 20px;
        position: relative;
        bottom: 28px;
        text-align: center;
        width: auto;
    }
    .owl-nav{
        position: relative;
        z-index: 2;
    }
    .owl-dot{
        display: inline-block;
        background: $grey-dark;
        border-radius: 50%;
        margin: 0 3px;
        height: 15px;
        width: 15px;
        z-index: 1;
        &.active{
            background: #fa2c2c;
        }
    }
    .owl-prev, .owl-next{
        margin: 20px 0 0 0;
        display: inline-block;
        color: #000;
        font-size: 1.5em;
        font-weight: bold;
        position: relative;
        top: 0;
        padding: 0 10px;
        @include breakpoint($medium){
            color: $grey-dark;
        }
    }
    .owl-next{
        float: right;
    }
}
#blocks-bottom{
    h2{
        margin: 0 0 15px 0;
        i{
            background: #fff;
            position: relative;
            padding-right: 10px;
            width: auto;
            z-index: 2;
        }
    }
    .black-block{
        border-top: 2px solid #000;
        margin-top: -29px;
        padding-top: 30px;
        position: relative;
        z-index: 1;
        .cell-6{
            background: #000;
        }

    }
    .large-block{
        margin-top: 10px;
        h2{
            margin: 0 13px 15px 0;
        }
        .right{
            position: absolute;
            right: 20px;
            bottom: 27px;
            width: auto;
        }
    }
    .medium-block{
        margin-top: 10px;
    }
    .medium-block-2{
        margin-top: 10px;
    }
}
.slider-bottom{
    @include span(10);
    @include push(1);
    @include breakpoint($medium){
        @include span(12);
        @include push(0);
    }
    margin-top: 30px;

    .item{
        border: 2px solid $grey-dark;
        padding: 10px;
        a{
            font-size: 0.75em;
            display: block;
        }
        span{
            font-size: 0.75em;
        }
    }
    .owl-stage-outer{
        margin: 0 30px;
    }
    .owl-nav{
        .owl-next, .owl-prev{
            position: absolute;
            background: #ccc;
            color: #fff;
            padding: 5px 5px;
            font-size: 1.5em;
            top: 24px;
            right: 8px;
            width: 13px;
        }
        .owl-prev{
            left: 11px;
        }
    }
}

.menu-bottom{
    @include span(12);
    background: #f8f8f8;
    margin-top: 30px;
    font-family: $openSans;

    ul{
        text-align: center;
        li{
            display: inline-block;

            a{
                text-decoration: none;
                color: #787878;
                display: block;
                padding: 0 7px;
                font-size: 0.9em;
            }
        }
    }
}

footer{
    @include span(10);
    @include push(1);
    @include breakpoint($medium){
        @include span(12);
        @include push(0);
    }
    margin-top: 30px;
    .logo2{
        width: 100%;
    }
    .cell-2{
        @include span(4);
    }
    .block-top-right{
        @include span(8 last);
        text-align: right;
        margin-top: 5%;
        @include breakpoint($medium){
            margin-top: 2%;
        }
    }
    .search {
        background: url("../img/icons/search.png") no-repeat right transparent;
        border: none;
        padding-right: 10px;
        margin-right: 20px;
        text-align: right;
        width: 80px;
        @include breakpoint($medium) {
            border-bottom: 2px solid #000;
            padding: 10px;
            margin: 0;
            text-align: right;
            width: 94%;
        }
        &::placeholder {
            color: #000;
            font-weight: bold;
        }
        &:focus {
            border: none;
            outline: -webkit-focus-ring-color auto 0;
            @include breakpoint($medium) {
                border-bottom: 1px solid #000;
            }
        }
    }
    .social {
        display: inline-block;
        border-right: 1px solid $grey;
        border-left: 1px solid $grey;
        padding: 0 0 0 18px;
        text-align: right;

        @include breakpoint($medium) {
            margin: 10px 0;
            padding: 0;
            border-right: 0 solid #ebebeb;
            border-left: 0 solid #ebebeb;
            text-align: right;
        }
        a {
            display: inline-block;
            padding: 0 10px;
            overflow: hidden;
            height: 11px;
            width: 13px;

            &.twitter {
                background: url("../img/icons/social.png") no-repeat center center;
                background-position: -12px;
            }
            &.facebook {
                background: url("../img/icons/social.png") no-repeat center center;
                background-position: -47px;
            }
            &.google-plus {
                background: url("../img/icons/social.png") no-repeat center center;
                background-position: -83px;
            }
            &.youtube {
                background: url("../img/icons/social.png") no-repeat center center;
                background-position: -118px;
            }
            &.rss {
                background: url("../img/icons/social.png") no-repeat center center;
                background-position: -153px;
            }
        }
    }
    .copright{
        @include span(12);
        text-align: left;
        padding: 50px 0;
    }
}

